body{
  color:#EED6D3;
  margin:0;
  text-align: center;
  font-family: 'Merriweather',sans-serif;


}
.pic{
  width: 20%;

}

h1{
  font-size:5.625rem;
  margin: 50px auto 0 auto;
  /*color:#EDC9C1;*/
  color:#F9F9F9;
/*  line-height: 2;*/
font-family: 'Sacramento',cursive;:


}
h2{
   color:#EDC9C1;
   font-family: 'Montserrat',sans-serif;
   font-size: 2.5rem;
   font-weight: normal;
   padding: 10px;
}
h3{
   font-family: 'Montserrat',sans-serif;
   color:#EED6D3;
}
p{
    line-height: 2;
}
hr{
  border: dotted #75E6DA 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
margin-left: 720px;
}
a{
  color:#5885AF;
  font-family: 'Montserrat',sans-serif;
  text-decoration: none;
}
a:hover
{
  color:#2B4865;
}
.top-container{
/*  background-color: #41729F;*/
  background-color:#274472;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin:100px 0;

}
.bottom-container{
background-color: #1C2133;
padding: 50px 0px 20px;

}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
 text-align: left;

}
.pro
{
  text-decoration: underline;
}
.intro
{
  width:30%;
  margin: auto;
}
.contact-message{
  width:40%;
  margin: 40px auto 60px;

}
.copyright
{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}


.canvas{
  width:25%;
  float: left;
  margin-right: 30px;
}
.prog{
  width:25%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #275e9c;
  background-image: -webkit-linear-gradient(top, #275e9c, #143342);
  background-image: -moz-linear-gradient(top, #275e9c, #143342);
  background-image: -ms-linear-gradient(top, #275e9c, #143342);
  background-image: -o-linear-gradient(top, #275e9c, #143342);
  background-image: linear-gradient(to bottom, #275e9c, #143342);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3f73ab;
  background-image: -webkit-linear-gradient(top, #3f73ab, #1c2e94);
  background-image: -moz-linear-gradient(top, #3f73ab, #1c2e94);
  background-image: -ms-linear-gradient(top, #3f73ab, #1c2e94);
  background-image: -o-linear-gradient(top, #3f73ab, #1c2e94);
  background-image: linear-gradient(to bottom, #3f73ab, #1c2e94);
  text-decoration: none;
}
